<div id="root">
    <h1>{Header}</h1>
    <p>{Description}</p>
</div>

<!-- START BLOCK : DAYLIREPORT_COVID19TH -->


<div class="col-12">
    <div class="col-xs-12">
        <div class="block-title-page">
            <h1>รายงานสถานการณ์ <span style="white-space: nowrap;">โควิด-19</span></h1>
            <h2>อัพเดทข้อมูลล่าสุด : {Covid19th_UpdateDate}</h2>
        </div>
        <div class="block-st-all">
            <div class="col-xs-12 col-sm-12">
                <div class="card-default">
                    <p>ติดเชื้อสะสม</p>
                    <h1 style="line-height: inherit;">{Covid19th_Confirmed}</h1>
                    <span>
    (+ {Covid19th_NewConfirmed})
    </span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="card-default">
                    <p>หายแล้ว</p>
                    <h1>{Covid19th_Recovered}</h1>
                    <span>
    (+ {Covid19th_NewRecovered})
    </span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="card-default">
                    <p>รักษาอยู่ใน รพ.</p>
                    <h1>{Covid19th_Hospitalized}</h1>
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="card-default">
                    <p>เสียชีวิต</p>
                    <h1>{Covid19th_Deaths}</h1>
                    <span>
    (+ {Covid19th_NewDeaths})
    </span>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- END BLOCK : DAYLIREPORT_COVID19TH -->