/*page_aboutus*/
.aboutus_content1 {margin: 0;padding: 30px 0;width: 100%;background-repeat: no-repeat;background-position: top right;}
.aboutus_content1>.container>.row>ul {list-style-type: none;margin: 0;padding: 0;width: 100%;}
.aboutus_content1>.container>.row>ul>li:nth-child(1)>img {width: 100%;}
.aboutus_content1>.container>.row>ul>li>ol {margin: 0;padding: 0 15px;text-align: center;}
.aboutus_content1>.container>.row>ul>li>ol:nth-child(1) {font-family: 'kanitmedium';font-size: 15pt;color: #1462a5;line-height: 20pt;}
.aboutus_content1>.container>.row>ul>li>ol:nth-child(2) {font-family: 'kanitregular';font-size: 13pt;color: #4f5356;padding-top: 20px;}

.aboutus_content2 {margin: 0;padding: 30px 0 0 0;width: 100%;}
.aboutus_content2>.container>.row>div {width: 100%;text-align: center;margin: 0 auto;}
.aboutus_content2>.container>.row>div>h1 {font-family: 'kanitmedium';font-size: 35pt;color: #1462a5;}
.aboutus_content2>.container>.row>div>p {height: 3px;background-color: #0397d6;width: 55px;margin: 0 auto;transform: skewX(-25deg);}

.aboutus_content2>.container>.row>.aboutus_content2_list {padding: 20px 15px;}
.aboutus_content2>.container>.row>.aboutus_content2_list>ul {list-style-type: none;margin: 0;padding: 20px 0;width: 100%;border-bottom: 1px solid #a2d9f0;}
/*.aboutus_content2>.container>.row>.aboutus_content2_list>ul>li {}*/
.aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>img {width: 100%;border: 5px solid #ffffff;-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);}
.aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol {margin: 0;padding: 0;font-family: 'kanitlight';font-size: 16pt;color: #4f5356;}
.aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol:nth-child(1) {font-family: 'kanitlight';font-size: 24pt;color: #4f5356;}
.aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol:nth-child(2) {font-family: 'montserratbold';font-size: 34pt;color: #0397d6;}

.aboutus_content3 {margin: 0;padding: 30px 0 0 0;width: 100%;background-position: top center; background-repeat: no-repeat;}
.aboutus_content3>.container>.row>div {width: 100%;text-align: center;margin: 0 auto;padding: 0 15px;}
.aboutus_content3>.container>.row>div>h1 {font-family: 'montserratbold';font-size: 25pt;color: #1462a5;}
.aboutus_content3>.container>.row>div>p {height: 3px;background-color: #c0c2c3;width: 55px;margin: 0 auto;transform: skewX(-25deg);}
.aboutus_content3>.container>.row>.aboutus_content3_list>ul {list-style-type: none;margin: 0;padding: 20px 0;width: 100%;}
.aboutus_content3>.container>.row>.aboutus_content3_list>ul>li {font-family: 'kanitregular';font-size: 15pt;color: #4f5356;}
.aboutus_content3>.container>.row>.aboutus_content3_list>ul>li>img {width: 100%;border: 5px solid #ffffff;-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.11);}
.aboutus_content3>.container>.row>.aboutus_content3_list>ul>li:nth-child(2) {margin: 0;padding: 20px 0;font-family: 'kanitregular';font-size: 18pt;color: #1462a5;}

@media (min-width: 768px) { 
    .aboutus_content1 {background-size: cover;}
    .aboutus_content1>.container>.row>ul>li:nth-child(1) {width: 50%;float: left;}
    .aboutus_content1>.container>.row>ul>li:nth-child(1)>img {padding: 0 10px;}
    .aboutus_content1>.container>.row>ul>li>ol {text-align: left;}
    .aboutus_content2>.container>.row>.aboutus_content2_list {padding: 20px 0;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul {display: inline-block;width: 48%;float: left;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul:nth-child(even) {margin: 0 0 0 1%;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul:nth-child(odd) {margin: 0 1% 0 0;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul>li {width: 40%;float: left;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul>li:nth-child(2) {width: 60%;padding: 0 0 0 15px;text-align: left;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol:nth-child(1) {font-size: 20pt;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol:nth-child(2) {font-size: 24pt;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul>li>ol:nth-child(3) {font-size: 13pt;}
    .aboutus_content3 {padding: 30px 0 50px 0;background-position: left top;}
    .aboutus_content3>.container>.row>.aboutus_content3_list>ul>li>img {width: auto;max-width: 589px;}
    .aboutus_content3>.container>.row>.aboutus_content3_list>ul>li:nth-child(2) {width: 50%;float: left;padding: 50px 20px;text-align: left;}
    .aboutus_content3>.container>.row>.aboutus_content3_list>ul>li:nth-child(3) {width: 50%;float: left;padding: 50px 0px;text-align: left;}
}
@media (min-width: 992px) { 
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul {width: 46%;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul:nth-child(even) {margin: 0 0 0 2%;}
    .aboutus_content2>.container>.row>.aboutus_content2_list>ul:nth-child(odd) {margin: 0 2% 0 0;}
    .aboutus_content3>.container>.row>.aboutus_content3_list>ul>li:nth-child(2) {padding: 50px 20px 0 10%;}
    .aboutus_content3>.container>.row>.aboutus_content3_list>ul>li:nth-child(3) {padding: 50px 10% 0 0;}
}

/*page_aboutus*/